<!DOCTYPE html>
<html class="border-l" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dist/output.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        fieldset label span {
            min-width: 125px;
        }

        fieldset .select::after {
            content: '';
            position: absolute;
            width: 9px;
            height: 5px;
            right: 20px;
            top: 50%;
            margin-top: -2px;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5'><title>Arrow</title><path d='M.552 0H8.45c.58 0 .723.359.324.795L5.228 4.672a.97.97 0 0 1-1.454 0L.228.795C-.174.355-.031 0 .552 0z' fill='%23CFD7DF' fill-rule='evenodd'/></svg>");
            pointer-events: none;
        }
    </style>
</head>

<body>
    <% let a=0%>
        <header>
            <%-include('navbar')%>
        </header>
        <div class="h-auto grid grid-cols-3">
            <div class="lg:col-span-2 col-span-3 bg-#f8f8ff space-y-4 px-12">

                <div class="rounded-md mt-8">
                    <form id="newAddress" method="POST" action="/userprofile">
                        <section>
                            <h2 class="tracking-wide text-lg font-semibold text-black my-2">Delivery address</h2>
                            <fieldset class="mb-3 bg-white shadow-lg rounded-lg text-black">

                                <label class="flex border-b border-gray-200 h-12 py-3 items-center">
                                    <span class="text-right px-2 font-medium">Address</span>
                                    <input name="address" id="address" class="focus:outline-none px-3"
                                        placeholder="Delivery address">
                                </label>
                                <label class="flex border-b border-gray-200 h-12 py-3 items-center">
                                    <span class="text-right px-2 font-medium">City</span>
                                    <input name="city" id="city" class="focus:outline-none px-3"
                                        placeholder="Trivandrum">
                                </label>
                                <label class="inline-flex w-2/4 border-gray-200 py-3">
                                    <span class="text-right px-2 font-medium">State</span>
                                    <input name="state" id="state" class="focus:outline-none px-3" placeholder="Kerala">
                                </label>
                                <label
                                    class="xl:w-1/4 xl:inline-flex  items-center flex xl:border-none border-t border-gray-200 py-3">
                                    <span class="text-right px-2 xl:px-0 xl:text-none font-medium">ZIP</span>
                                    <input name="postalcode" id="postalcode" class="focus:outline-none px-3"
                                        placeholder="695563">
                                </label>
                                <label class="flex border-t border-gray-200 h-12 py-3 items-center select relative">
                                    <span class="text-right px-2 font-medium">Country</span>
                                    <input name="country" id="country" class="focus:outline-none px-3"
                                        placeholder="India">

                                </label>
                            </fieldset>
                        </section>
                    </form>
                </div>
                <div class="py-2">
                    <a href="#" id="addAddressBtn"
                        class="  submit-button px-3 py-3 rounded-md bg-black text-white focus:ring focus:outline-none w-full text-lg font-semibold transition-colors"
                        style="margin: top 10px;">
                        Add Address
                    </a>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mb-14 p-2 mt-8">
                    <% addresses.addressCollection.forEach(function(address) { %>
                        <div class="bg-white overflow-hidden shadow rounded-lg border">

                            <div class="px-2 py-5 sm:px-6 font-bold">
                                <input id="default-radio-12" type="radio" value="" name="default-radio-12"
                                    data-address="<%= address.address %>" data-city="<%= address.city %>"
                                    data-state="<%= address.state %>" data-postalcode="<%= address.postalcode %>"
                                    data-country="<%= address.country %>"
                                    class="w-4 h-4 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 text-lg leading-6 font-bold text-black"
                                    checked>
                                Address
                            </div>
                            <div class=" border-t border-gray-200 px-4 py-5 sm:p-0">
                                <dl class="sm:divide-y sm:divide-gray-200">
                                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:px-6">
                                        <dt class="text-sm font-medium text-gray-500">
                                            Address
                                        </dt>
                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                            <%= address.address %><br>
                                                <%= address.city %>, <%= address.state %><br>
                                                        <%= address.postalcode %><br>
                                                            <%= address.country %>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3  sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Actions
                                </dt>
                                <dd class="mt-1 text-sm font-bold text-black sm:mt-0  sm:col-span-2">
                                    <button class="btn btn-primary sm:gap-16">EDIT</button>
                                    <!-- Delete Form -->
                                    <form action="/deleteaddress/<%= address._id %>" method="post">
                                        <input type="hidden" name="deleteId">
                                        <button type="submit" class="btn btn-danger">DELETE</button>
                                    </form>
                                </dd>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>

            <div class="col-span-1 bg-white lg:block hidden ">
                <h1 class="py-6 border-b-2 text-xl text-black px-8">Order Summary</h1>
                <%checkoutItems.forEach((row,index)=> { %>
                    <p id="productId" class="hidden">
                        <%=checkoutItems[index]._id %>
                    </p>
                    <ul class="py-6 border-b  px-8">
                        <li class="grid grid-cols-6 gap-2 border-b-1">
                            <div class="col-span-1 self-center">
                                <img src="<%=checkoutItems[index].image[0]%>"
                                    alt="<%=checkoutItems[index].productname%>" class="rounded w-full">
                            </div>
                            <div class="flex flex-col col-span-3 pt-2">
                                <span class="text-black text-md font-semi-bold">
                                    <%=checkoutItems[index].productname%>
                                </span>
                                <span class="text-black text-sm inline-block pt-2">
                                    <%=checkoutItems[index].description%>
                                </span>
                            </div>
                            <div class="col-span-2 pt-3">
                                <div class="flex items-center space-x-2 text-sm justify-between">
                                    <p id="orderQuantity" class="hidden">
                                        <%=checkoutQuantity[index]%>
                                    </p>
                                    <span class="text-black">

                                        <%let discountedPrice=row.price
                                                        if(row.productOffer[0] &&
                                                        row.categoryOffer[0] &&
                                                        row.productOffer[0].enable &&
                                                        row.categoryOffer[0].enable) { %>
                                                        <% const
                                                            productDiscount=row.price*row.productOffer[0].discount/100
                                                            const
                                                            categoryDiscount=row.price*row.categoryOffer[0].discount/100
                                                            discountedPrice=Math.floor(row.price-Math.max(productDiscount,categoryDiscount))
                                                            %>
                                                            <p class="text-lg font-semibold  text-black cursor-auto my-3"
                                                                data-price="<%= discountedPrice %>">Rs.<%=
                                                                    discountedPrice %>
                                                            </p>
                                                            <% } else if(row.productOffer[0] &&
                                                            row.productOffer[0].enable){ %>
                                                                <% discountedPrice=Math.floor(row.price-(row.price*row.productOffer[0].discount/100))
                                                                    %>
                                                                    <p class="text-lg font-semibold  text-black cursor-auto my-3"
                                                                        data-price="<%= discountedPrice %>">Rs.<%=
                                                                            discountedPrice%>
                                                                    </p>
                                                                    <% } else if(row.categoryOffer[0] &&
                                                                    row.categoryOffer[0].enable){ %>
                                                                        <%
                                                                            discountedPrice=Math.floor(row.price-(row.price*row.categoryOffer[0].discount/100))%>
                                                                            <p class="text-lg font-semibold  text-black cursor-auto my-3"
                                                                                data-price="<%= discountedPrice %>">Rs.
                                                                                <%= discountedPrice %>
                                                                            </p>
                                                                            <%}else{%>

                                                                                Rs.<%=row.price%>
                                                                                    <%}%>



                                        <%=checkoutQuantity[index]%> x ₹<%=discountedPrice%>
                                    </span>
                                    <span class="text-black font-semibold inline-block">₹<%=checkoutQuantity[index] *
                                        discountedPrice%></span>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <% a=a + (checkoutQuantity[index] * discountedPrice)%>

                        <%})%>


                            <div class="px-8 border-b">
                                <div class="flex justify-between py-4 text-black">
                                    <span>Subtotal</span>
                                    <span class="font-semibold text-black">₹<%=a %></span>
                                </div>
                                <div class="flex justify-between py-4 text-black">
                                    <span>Shipping</span>
                                    <span class="font-semibold text-black">₹1000</span>
                                </div>
                            </div>
                            <div class="font-bold text-xl px-8 flex justify-between py-8 text-black">
                                <span>Total</span>
                                <%let total=a+1000%>
                                    <span id="orderTotal">₹<%=total%></span>
                            </div>

                            <p class="text-xl font-medium py-6 border-b-2  text-black px-8">Payment Details</p>
                            <p class="text-gray-400 py-6 border-b-2 px-8">Complete your order by providing your payment
                                details.</p>

                            <div class="py-6 border-b-2 px-8">
                                <label for="paymentMode" class="mt-4 mb-2 block text-lg font-medium">Payment
                                    mode</label>
                                <div class="relative">
                                    <form id="paymentForm">
                                        <div>
                                            <input type="radio" value="UPI"
                                                class=" rounded-md  py-4  text-sm   focus:z-10 " name="paymentMethod">
                                            <span>UPI/OTHER</span>
                                        </div>

                                        <div class="flex justify-between">
                                            <div>
                                                <input type="radio" value="Wallet"
                                                    class=" rounded-md  py-4  text-sm   focus:z-10 "
                                                    name="paymentMethod">
                                                <span>Wallet</span>
                                            </div>
                                            <div>
                                            <p> Wallet Balance :
                                            <% if (wallet&&wallet.balance!=undefined) { %>
                                            <h1 class="font-bold flex  text-gray-900 title-font rounded-md  py-4  text-sm   focus:z-10 ">₹
                                            <%=wallet.balance%>
                                            </h1>
                                            <% }else{ %>
                                            <h1 class="text-sm font-bold leading-9 flex text-gray-900 title-font">
                                            ₹ 0</h1>
                                            <% } %>
                                            <span id="walletBalance"></span>
                                            </p>
                                            </div>
                                        </div>
                                        <div>
                                            <input type="radio" value="COD"
                                                class=" rounded-md  py-4  text-sm   focus:z-10 " name="paymentMethod"
                                                checked>
                                            <span>Cash On Delivery</span>
                                        </div>
                                </div>

                                <button type="submit"
                                    class="confirmOrder mt-5 flex justify-center submit-button px-3 py-3 rounded-md bg-black text-white focus:ring focus:outline-none w-full text-lg font-semibold transition-colors">Place
                                    Order</button>

                            </div>
                            </form>

            </div>

        </div>
        <div>
            <%-include('footer')%>
        </div>

</body>


<!-- radio button script -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    const orderTotal = document.getElementById('orderTotal').innerText.substring(1);

    document.getElementById('paymentForm').onsubmit = function (event) {
        event.preventDefault();
        console.log('hello');
        const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
        if (paymentMethod === 'UPI') {
            
            fetch('/razorpay', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({orderTotal,paymentMethod}),
               
            }).then(response => response.json())
                .then(data => {
                    console.log(data);
                    var options = {
                        "key": "rzp_test_yeL2dUJ4nZYpET", // Enter the Key ID generated from the Dashboard
                        "amount": 300, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "Woodsthetics",
                        "description": "Test Transaction",
                        "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function (response) {
                            confirmOrder()
                        },

                    };
                    var rzp1 = new Razorpay(options);
                    rzp1.on('payment.failed', function (response) {
                        alert(response.error.code);
                      
                    });
                    rzp1.open();
                }).catch((rej) => console.log(rej))

        } else if (paymentMethod === 'Wallet') {
            console.log('wallet here');
            fetch('/wallet',{
            method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({orderTotal,paymentMethod})
            })
        .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
        })
        .then(data => {
        console.log('Response from server:', data);
        confirmOrder();
        })
        .catch(error => {
        console.error('Error:', error);
        alert('Not Enough Cash in the Wallet. Please try again.');
       });
        } else if (paymentMethod === 'COD') {
            confirmOrder()
        }

    };
</script>



<script>
    function confirmOrder() {

        console.log('here');
        const selectedRadio = document.querySelector('input[name="default-radio-12"]:checked');
        const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
        let selectedAddressData = null;
        if (selectedRadio) {

            selectedAddressData = {
                address: selectedRadio.getAttribute('data-address'),
                city: selectedRadio.getAttribute('data-city'),
                state: selectedRadio.getAttribute('data-state'),
                postalCode: selectedRadio.getAttribute('data-postalcode'),
                country: selectedRadio.getAttribute('data-country'),
            };

        } else {
            console.error('No address selected');
            return; // Stop the function if no address is selected
        }
        console.log('Selected Address Data11:', selectedAddressData);
        const orderDetails = {
            selectedAddressData,paymentMethod
        };

        fetch('/confirmation', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                orderDetails,
            }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                window.location.href = '/orderplaced';
            })
            .catch(error => {
                console.error('Error:', error);
            })
    }
</script>


<script>
    document.getElementById('addAddressBtn').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('newAddress').submit(); // Submit the form
    });
</script>


</html>